<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <title>Hypertube - Main</title>
    </head>
    <body>

        <h2>Hypertube</h2>
        {% if user.is_authenticated %}
            <p>Hello, {{ user }} - <a href="/logout/">logout</a></p>
        {% else %}
            <a href="/login/">Login</a>
            <a href="/signup/">Sign Up</a>
        {% endif %}

        <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}">
            <input type="search" aria-label="Search" name="q">
            <button class="btn btn-primary btn-sm my-2 my-sm-0" type="submit">Search</button>
        </form>

        {% if tag %}
            <a href="tube/?tag={{ tag }}">#{{ tag }}</a>
        {% endif %}

        <p>{{ videos|length }} videos - <a href="/tube/upload/">Upload video</a></p>

        <div class="space-medium">
            <div class="container">
                <div class="row">
                    {% for video in videos %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="video-testimonial-block">
                            <div class="video-thumbnail">
                                <a href="/tube/watch/{{ video.id }}/">
                                        <img src="https://easetemplate.com/free-website-templates/finvisor/images/testi_img_1.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10">{{ video.title }}</h4>
                            <p>User Name</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  </body>
</html>
