{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>HyperTube - Main</title>
        <style>
        *{
            text-decoration: none !important;
        }
        .video-thumbnail{
            max-width: 350px !important;
            max-height: 197px !important;
            text-align: center;
            background-color: lightgrey;
            overflow: hidden;
        }
        .img-fluid{
            max-height: 197px !important;
        }
        .video-testimonial-block{
            max-width: 350px !important;
            max-height: 197px !important;
        }
        .pfp{
            max-width: 25px;
            border-radius: 25px;
        }

    </style>
    </head>
    <body>

        <nav class="navbar navbar-light bg-light">

            <div class="navbar-brand">
                <a href="/tube/">
                    <h2>Hypertube</h2>
                </a>

            </div>
            <span class="navbar-text">
                {% if user.is_authenticated %}
                    Hello, <a href="/user/profile/{{ user.id }}">{{ user }}</a> - <a href="{% url 'logout' %}">logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </span>

            <span class="navbar-text">
                {% if tag %}
                    <a href="/tube/?tag={{ tag }}">#{{ tag }}</a>
                {% endif %}
            </span>
            <span class="navbar-text">
                {{ videoqnt }} videos - <a href="{% url 'upload' %}">Upload video</a>
            </span>

            <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}">

                <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            </form>

        </nav>


        <div class="mt-4">
            <div class="container">
                <div class="row infinite-container">
                    {% for video in page_obj %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 infinite-item">
                        <a href="/tube/watch/{{ video.id }}/">
                            <div class="video-testimonial-block">
                                <div class="video-thumbnail">
                                    <img src="/tube/thumb/thumb{{ video.file.name }}/" alt="" class="img-fluid" >
                                </div>
                            </div>
                        </a>
                        <div class="video-testimonial-content">
                            <h4 class="mb10">{{ video.title }}</h4>
                            <small class="form-text text-muted">{{ video.views }} views</small>
                            <p>
                                <img src="/user/profile/{{ video.author.profile.pfp }}" alt="" class="pfp">
                                <a href="/user/profile/{{ video.author.id }}">{{ video.author }}</a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?{% if query %}q={{ query }}{% elif tag %}tag={{ tag }}{% endif %}&page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

        <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "js/infinite.min.js" %}"></script>
    <script>
        const infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
        });
    </script>
    </body>
</html>
