{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>HyperTube - Main</title>
        <style>
        *{
            text-decoration: none !important;
        }
        .video-thumbnail{
            max-width: 350px !important;
            max-height: 197px !important;
            text-align: center;
            background-color: lightgrey;
            overflow: hidden;
        }
        .img-fluid{
            max-height: 197px !important;
        }
        .video-testimonial-block{
            max-width: 350px !important;
            max-height: 197px !important;
        }
        .pfp{
            max-width: 75px;
            border-radius: 75px;
        }

    </style>
    </head>
    <body>

        <nav class="navbar navbar-light bg-light">

            <div class="navbar-brand">
                <a href="/tube/">
                    <h2>Hypertube</h2>
                </a>

            </div>
            <span class="navbar-text">
                {% if user.is_authenticated %}
                    Hello, <a href="/user/profile/{{ user.id }}">{{ user }}</a> - <a href="{% url 'logout' %}">logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </span>


            <form class="form-inline my-2 my-lg-0" action="{% url 'index' %}">

                <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            </form>

        </nav>
        <div class="mt-2">
            <div class="container">
                <img src="/user/profile/{{ profile.pfp }}/" alt="" class="pfp" >
                {% if user.profile == profile %}
                    <form enctype="multipart/form-data" method="post" action="" class="form-signup">{% csrf_token %}
                        <input id="{{ form.image.id_for_label }}"
                               maxlength="30" name="{{ form.image.html_name }}"
                               type="file" accept="image/jpg, image/png, image/*"/>
                        <button type="submit" class="btn btn-lg btn-primary">Upload</button>
                    </form>
                {% endif %}
                <p>{{ name }}</p>
            </div>
        </div>


        <div class="mt-4">
            <div class="container">
                <div class="row infinite-container">
                    {% for video in page_obj %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 infinite-item">
                        <div class="video-testimonial-block">
                            <div class="video-thumbnail">
                                <a href="/tube/watch/{{ video.id }}/">
                                    <img src="/tube/thumb/thumb{{ video.file.name }}/" alt="" class="img-fluid" >
                                </a>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10">{{ video.title }}</h4>
                            <small class="form-text text-muted">{{ video.views }}</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}&">next</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

        <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "js/infinite.min.js" %}"></script>
    <script>
        const infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
        });
    </script>
    </body>
</html>
